@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* navbar */
nav {
    background: #171c24d0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 15px 0px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 2px 0 0 43px;

    margin-left: 123px;
    margin-top: -62px;

}

nav .nav-items li {
    list-style: none;
    padding: 0 20px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #900c28;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18%;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 5px;
    margin-top: -35px;
    margin-left: 1100px;
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #900c28;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #9f2525;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

.logo h3 {
    color: #900c28;

    margin-top: 1px;
    font-weight: bold;
    font-size: 34Px;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        margin-left: 11px;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: #82100fc7;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}




.body {
    margin: 0px;

}

.our-story {
    background: url(Carstory.jpeg);
}

.card {
    height: 86vh;
    width: 700px;
    padding: 20px 35px;
    background: rgba(22, 12, 12, 0.75);
    border-radius: 3%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    right: 26%;
    top: 5vh;
    transition: 0.1s;
    margin: right 261px;
    margin-top: 40px;

}

.card:hover {
    background: rgba(0, 0, 0, 0.8);
}

.item {
    color: rgba(255, 255, 255, 0.9);
    font-family: system-ui;

    font-size: 19px;
    margin-top: -37px;
    padding: 40px;
}

.carousel-indicators {
    position: absolute;
    opacity: 0.6;
    top: 75vh;
}

.left-carousel-control {
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 75vh;
    right: 250px;
}

.right-carousel-control {
    color: white;
    opacity: 0.5;
    position: absolute;
    top: 75vh;
    left: 250px;
}

.carousel-inner {
    position: absolute;
    top: 20vh;
}