@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    ;
}

/* navbar */
nav {
    background: #171c24d0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 20px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #c91b2c;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18%;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #82100fc7;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #9f2525;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

.logo h3 {
    color: #82100fc7;

    margin-top: -4px;
    font-weight: bold;
    font-size: 34Px;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: #82100fc7;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}





/* home page */
#home {

    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: 70px;
    width: 320px;
    background-color: #c7c7c76c;
    color: rgb(0, 0, 0);
    padding: 35px;
    overflow: hidden;
    text-align: center;
    margin-left: 77px;
    margin-bottom: 137px;

}

.our-services {
    width: 116px;
    color: black;
    background-color: #82100fc7;
    height: 45px;
    margin-top: 20px;
    border: none;
    font-weight: bold;
}

.slide.current.content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 20px;
}

.buttons button {
    border: 2px solid #82100fc7;
    color: #82100fc7;
    background-color: transparent;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50px;
    outline: none;

}

.buttons button:hover {
    background-color: #82100fc7;
    color: #f8f8f8;
}

@media(max-width: 500px) {
    .slide.content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current.content {
        transform: translateY(-300px)
    }
}

.slide:first-child {
    background: url(./../img/car3.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(2) {
    background: url(./../img/car2.jpg) no-repeat center top/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(3) {
    background: url(./../img/car1.jpg) no-repeat center top/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(4) {
    background: url(./../img/car4.jpg) no-repeat center top/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* gallery */
#gallery {
    background: black;
    background-position: 100%;
}
.title-section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 64PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6c1415;

}
.title-type {
    height: 20px;
    padding-left: 200px;
color: #6c1415;}

.type {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 160vh;
}

.suv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 70px 80px;

}

.sport {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
margin: 20px 70px 80px;
}

.sedan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
margin: 20px 70px 80px;

}

.Convertible {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
margin: 20px 70px 80px;
}


.card {
    width: 300px;
    margin: 40px;
    height: 200px;
    background: black;

    box-shadow:1px 1px 15px #979393  ;
    border-radius: 35px;
        margin-left: 26px;
            margin-right: 49px;

}

.card__caption {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: -509px;
    text-align: center;
    background-color: #1d1717a6;
    color: white;
    padding-top: 40px;
    opacity: 0;

}

.card:hover .card__caption {
    opacity: 1;
}

.card__thumb {
    width: 300px;
    height: 200Px;
}

.card__image {
    width: 300px;
    height: 200Px;
}

.card__caption1 {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: -909px;
    text-align: center;
    background-color: #1d1717a6;
    color: white;
    padding-top: 40px;
    opacity: 0;

}

.card:hover .card__caption1 {
    opacity: 1;
}

.card__caption2 {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: -1309px;
    text-align: center;
    background-color: #1d1717a6;
    color: white;
    padding-top: 40px;
    opacity: 0;

}

.card:hover .card__caption2 {
    opacity: 1;
}

.card__caption3 {
    position: absolute;
    width: 300px;
    height: 200px;
    bottom: -1708px;
    text-align: center;
    background-color: #1d1717a6;
    color: white;
    padding-top: 40px;
    opacity: 0;

}

.card:hover .card__caption3 {
    opacity: 1;
}

.tit {
    height: 20px;
    padding-left: 200px;
    text-shadow: rgb(135 16 16) 0px 1px 2px,
        rgb(119 17 17) 0px 2px 4px,
        rgb(183 14 14) 0px 4px 8px,
        rgb(56 10 10/83%)0px 8px 16px,
        rgb(65 14 14) 0Px 16px 32px,
        rgb(96 19 19/86%) 0px 0Px 0px;
    ;
}

.lig {
    color: #9f2525;
}